Error with `Set-Cookie` expires date

While developing with `httpdate` with sites such as Google search site at https://www.google.com, the Set-Cookie response header has an `expires` time with four digits year:

`Set-Cookie: CONSENT=PENDING+705; expires=Wed, 15-Nov-2023 09:20:03 GMT; path=/; domain=.google.com; Secure`

When trying to parse this date with `httpdate` it raises a parse error.

Next date with only two digits is parsed rightly:

`Wed, 15-Nov-23 09:20:03 GMT`

Would it be possible to parse as right the date below with four year digits?


Hi @cacexp I don't think either of the two dates is parsed: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f50745c8fe3021b66644fbe63959151d
The grammar of `cookie-date` is distinct from the syntax used in the `Date` header field. The grammar and parsing algorithm for the set cookie header `cookie-date` is documented in [RFC 6265](https://datatracker.ietf.org/doc/html/rfc6265#section-5.1.1).
If you need to parse and/or emit these dates you will need to use a different crate or implement it yourself.


Many thanks @pyfisch from the prompt response and clarifications.

In fact, the same RFC 6265 is a bit confusing, as in [Set-Cookie sintax](https://datatracker.ietf.org/doc/html/rfc6265#section-4.1.1) section, it says `expires`argument is a [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123#section-5.2.14) date as defined in [RFC 2616](https://datatracker.ietf.org/doc/html/rfc2616#section-3.3.1). So the `expires` date should be:

`Sun, 06 Nov 1994 08:49:37 GMT`

This date was parsed correctly by `httpdate`. That is why I started to use this library in my project.

I did not find any reference to the format used by Google. 

So yes, I will have to implement it by myself and research on the format used by some web servers to get common patterns. 





PS. Sorry, I confused the sample date with two digits, I assumed it worked.

You're welcome! 

> So yes, I will have to implement it by myself and research on the format used by some web servers to get common patterns.

I've implemented parts of a few web standards. My experience is that you should strive to follow the grammar and algorithms specified in the RFCs to the letter. I got away with shortcuts at first however it came back to haunt me later. Therefore I would recommend that you read RFC 6265 Section 5.1.1.  Dates and implement that. If you look for "common patterns" you might get an implementation that works 99% of the time but fails on one specific website while any other browser or program can work with it.

There clearly is a demand for small do-one-thing crates. If you want to publish your implementation e.g. as `cookiedate` I'll be glad to do a code review.